<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close"
					ng-click="$hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					添加资源类型
				</h4>
			</div>
			<form name="typeForm" ng-submit="addType();">
			<div class="modal-body">
				<input class="form-control" required="required" placeholder="资源类型名称" ng-model="newType.name">
			</div>
			<div class="modal-footer">
				<button type="button" class="button" ng-click="$hide()">取消</button>
				<button type="submit" class="button button-primary">添加</button>
			</div>
			</form>
		</div>
	</div>
</div>
